.hero_container {
    position: center;

}

.hero_image {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(#4b3814c7, #4b3814c7), url('../images/hero.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_text {
    text-align: center;
    max-width: 800px;
}

.hero_text h1 {
    color: #ECC97D;
    font-size: 60px ;
    font-weight: 600;
}

.hero_text p {
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.8;
}

.hero_btn {
    background-color: var(--btn-color);
    padding: 14px 33px;
    font-size: 16px;
    border-radius: 2rem;
    cursor: pointer;
    border: none;
    outline: none;
    transition: background-color 0.7s, color 0.5s;
}

.text_hero_btn {
    color: var(--btn-text-color);
}

.hero_btn:hover {
    background-color: var(--btn-transition);
    color: var(--btn-text-transition);
}