nav {
    height: 5rem;
    width: 100vw;
    /* background-color: var(--navbar-color); */
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}


/* only shows on medium and small screens */

.nav_toggle-btn {
    display: none;
}

.nav_container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    width: 5rem;
}

.nav_links {
    display: flex;
    gap: 3.5rem ;
    align-items: center;
}

nav_links a {
    transition: var(--transition);
}

.nav_links a:hover {
    color: var(--secondary-color);
}

a.btn-apoie {
    background-color: var(--btn-color); 
    color: var(--btn-text-color);
    padding: 14px 33px;
    font-size: 16px;
    border-radius: 2rem;
    cursor: pointer;
    border: 0;
    outline: 0;
    transition: background-color 0.7s, color 0.5s;
}

a.btn-apoie:hover {
    background-color: var(--btn-transition);
    color: var(--btn-text-transition) !important;
}

/* Dark Nav */

.sticky {
    background-color: var(--navbar-color);
    transition: background-color 2.5s;
}


/* MEDIA QUERIES (medium and small screens) */

.nav_toggle-btn {
    display: none;
}

.nav_container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    width: 5rem;
}

.nav_links {
    display: flex;
    gap: 3.5rem ;
    align-items: center;
}

.nav_links a {
    transition: var(--transition);
}

.nav_links a:hover {
    color: var(--secondary-color);
}




/* MEDIA QUERIES (medium and small screens) */

@media screen and (max-width: 1024px) {
    .nav_toggle-btn {
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        cursor: pointer;
    }

    .nav_toggle-btn svg {
        color: var(--navbar-text-color);
    }

    .nav_links {
        position: absolute;
        top: 100%;
        right: 0;
        flex-direction: column;
        gap: 0;
    }

    .nav_links li {
        height: 4rem;
        width: 100%;
        box-shadow: -2rem 2 rem 5 rem rgba(0, 0, 0, 0.4);
    }

    .nav_links li a {
        background-color: var(--navbar-color);
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 1rem 5rem 1rem 3rem;
    }

    .show_nav {
        display: flex;
    }

    .hide_nav {
        display: none;
    }
}

